@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
:root {
  min-height: 100vh;
  background-image: url(https://cdn.wallpapersafari.com/81/41/2zqLcf.jpg);
  background-position: center;
  background-size: cover !important;
  background-attachment: fixed;
}
#main {
  margin-top: 3.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20;
  top: 0;
  border-radius: 15px;
  background-color: transparent !important;
  padding: 1rem;
}
#card-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 300px;
  transition: 0.6s;
}
#card-img:hover {
  filter: blur(1px);
  transition: 0.3s;
}
#heading {
  font-family: "Caveat", cursive;
}
#card {
  transition: 0.3s;
}
#card:hover {
  transition: 0.3s;
  box-shadow: 8px 5px 10px rgba(191, 190, 192, 0.466);
}
.invisible {
  display: none;
}
.visible {
  display: block;
  width: 450px;
  height: 300px;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-bottom: 10rem;
  border-radius: 15px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.33375356978728987) 100%
  );
  color: rgb(66, 66, 66);
}
